<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./modal.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal" id="mod">
      <div class="box download-modal">
        <!-- <img
          src="./static/img/cross-svgrepo-com.min.svg"
          alt="Закрыть"
          class="close-btn"
        /> -->
        <p>
          Поскольку на нашем сервере стоит большая сборка модов, для того чтобы
          начать играть рекомендуется скачать наш лаунчер для Windows
        </p>
        <a
          class="download-win"
          href="https://jenison.ru/minecraft/api/downloadGame.exe"
        >
          Скачать <img src="./static/img/windows.svg" alt="Windows" />
        </a>
        <div class="delimiter">
          <div class="line"></div>
          <p>или</p>
          <div class="line"></div>
        </div>
        <p>
          Вы также можете скачать
          <a href="https://jenison.ru/minecraft/api/download">сборку</a> и
          установить её самостоятельно на свой лаунчер
        </p>
      </div>
    </div>
    <header>
      <nav>
        <a href="https://jenison.ru/minecraft/map">Онлайн карта</a>
        <a href="index.html">Главная</a>
        <a id="start-link">Начать Играть</a>
      </nav>
    </header>
    <main>
      <img src="./static/img/file1.png" alt="logo" class="logo" />
      <div class="online-wrap">
        <p id="online">Загрузка онлайна</p>
      </div>
      <button id="play-btn">Начать Играть</button>
    </main>
    <div class="description">
      <h2>Про что сервер</h2>
      <p>
        Наш сервер основан на индустриальной механике Create с реалистичной
        физикой воздушных кораблей из Valkyrien Skies, позволяя строить
        движущиеся механизмы и летательные аппараты. Дополнительно установлен
        voice-чат, создающий живое взаимодействие между игроками.
        Сбалансированная сборка ориентирована на выживание, инженерию и
        совместное строительство в мире
      </p>
    </div>
    <div class="pluses">
      <h2>Наши преимущества</h2>
      <div class="item-wraper">
        <div class="pluses-item">
          <img src="./static/img/terminal.svg" alt="icon" class="icon" />
          <h3>Удобный лаунчер</h3>
          <p>Наш кастомный лаунчер делает подключение простым</p>
        </div>
        <div class="pluses-item">
          <img src="./static/img/arrow-up-bold.svg" alt="icon" class="icon" />
          <h3>Отличная оптимизация</h3>
          <p>Моды подобраны так чтобы обеспечить приятный гейплей для всех</p>
        </div>
        <div class="pluses-item">
          <img src="./static/img/heart.svg" alt="icon" class="icon" />
          <h3>Линейка квестов</h3>
          <p>
            Для того чтобы изучение модов было проще и интереснее мы создали
            обширные квестлайны
          </p>
        </div>
      </div>
    </div>
    <details class="mods-details">
      <summary>Список модов</summary>
      <ul id="modlist">
        <!-- Находится в mods.json -->
      </ul>
    </details>
    <footer>
      <div></div>
      <div></div>

      <div class="info">
        <p>
          © Mojang, 2025. Товарный знак "Minecraft" принадлежит компании Mojang
          Synergies AB Вся размещенная информация на сайте не является публичной
          офертой. Мы никоим образом не связаны с Mojang, AB.
        </p>
        <p>
          All information posted on the site is not a public offer. We are in no
          way affiliated with Mojang, AB.
        </p>
      </div>
    </footer>
  </body>
  <script src="script.js" type="module"></script>
</html>
