.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.616);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 10000;
  /* animation: 0.2s ease-out 0s 1 alternate-reverse forwards bg;
  transition: opacity 1s ease-out; */
}
.modal div {
  /* background-color: #fff; */
  min-width: 100px;
  min-height: 50px;
  animation: 0.3s ease-out 0s 1 normal forwards box;
}
@keyframes box {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: translate(0, 80px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translate(0, 0);
  }
}
@keyframes bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
