:root {
  --col1: #191a19;
  --col2: #1d1d1d;
  --col3: #e0e0e0;
  --col4: #363636;
  --col6: #1e5128;
  --col7: #4e9f3d;
  --col8: #d8e9a8;
  --col9: #33363d;
  --col10: #777e87;
  --width: 60vw;
}

@font-face {
  font-family: "FontOver";
  src: url(./static/fonts/FontOver.otf) format("opentype");
  font-style: normal;
  font-weight: normal;
}
.roboto-<uniquifier > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}
body {
  background-color: #191a19;
  color: white;
  overflow-x: hidden;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: FontOver, sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.2rem;
}
* {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}
.online-wrap {
  padding: 15px 30px;
  background: rgba(25, 26, 25, 0.49);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(25, 26, 25, 0.31);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.online-wrap:hover #online {
  text-shadow: 0px 0px 20px #4dec2d;
  cursor: default;
}
#online {
  transition: all 0.3s ease-out;
  color: var(--col7);
  text-shadow: 0px 0px 10px #4dec2d8e;
  font-weight: 300;
}
.online-anim {
  width: 13px;
  height: 13px;
  background-color: var(--col7);
  border-radius: 100%;
  animation: 1s 0s online-anim infinite normal ease-out none;
}
nav {
  width: var(--width);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  color: rgb(126, 126, 126);
  text-decoration: none;
  transition: all 0.3s ease-out;
  text-transform: capitalize;
}
nav a:visited {
  color: rgb(126, 126, 126);
}
nav a:hover {
  color: white;
  text-shadow: 0 2px 10px rgba(255, 255, 255, 0.2),
    0 -2px 10px rgba(255, 255, 255, 0.2);
}
header {
  height: 100px;
  background-color: var(--col2);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 200;
}
main {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: #191a19 url("./static/img/bgmain2.png") no-repeat center / contain;
  min-height: 700px;
}
.download-btn {
  padding: 10px 15px;
  background: var(--col7);
  color: white;
  outline: none;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease-out;
}
.download-btn:hover {
  cursor: pointer;
  background-color: var(--col6);
}
.download-modal {
  background-color: var(--col4);
  border-radius: 20px;
  outline: 2px solid var(--col10);
  max-width: var(--width);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 20px; */
  gap: 20px;
  text-align: center;
}
.download-modal > p > a {
  color: var(--col7);
}
.download-modal > p > a:visited {
  color: var(--col7);
}
.close-btn {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  margin-bottom: 15px;
}
.close-btn:hover {
  cursor: pointer;
}
.download-win {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 7px 30px;
  background: linear-gradient(
    341deg,
    rgba(78, 159, 61, 1) 53%,
    rgba(127, 201, 127, 1) 100%
  );
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  gap: 5px;
  font-weight: 500;
  transition: all 0.3s ease-out;
  border: 1px solid #ffffff4f;
  text-decoration: none;
}
.download-win:visited {
  text-decoration: none;
  color: #fff;
}
.download-win:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 15px #4dec2d;
}
.download-win img {
  width: 30px;
}
.delimiter {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
  justify-content: center;
  color: #fff;
}
.delimiter .line {
  width: 100%;
  height: 2px;
  min-height: 2px;
  background-color: #fff;
  display: block;
}
#play-btn {
  padding: 15px 30px;
  border-radius: 15px;
  background: rgba(78, 159, 61, 0.26);
  border-radius: 16px;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(78, 159, 61, 0.31);
  color: #fff;
  box-shadow: 0 3px 10px var(--col7), 0 -3px 10px var(--col7);
  transition: all 0.3s ease-out;
}
#play-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: rgba(102, 223, 78, 0.664);
}
.description {
  width: var(--width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 50px;
  gap: 10px;
}
.pluses {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.pluses h2 {
  text-align: center;
}
.pluses .item-wraper {
  width: var(--width);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  min-width: fit-content;
}
.pluses .item-wraper .pluses-item {
  padding: 20px;
  /* background: linear-gradient(
    349deg,
    rgba(54, 54, 54, 0.7) 56%,
    rgba(87, 87, 87, 0.7) 74%,
    rgba(176, 176, 176, 0.7) 100%
  ); */
  background: var(--col4);
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 70px;
  grid-template-areas: "icon name" "descript descript";
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  border-radius: 15px;
  border: 1px solid #fff;
  box-shadow: 7px 7px 20px #000000a6;
  flex: 0 0;
}
.pluses .item-wraper .pluses-item .icon {
  width: 50px;
  grid-area: icon;
}
.pluses .item-wraper .pluses-item h3 {
  grid-area: name;
  text-shadow: 0 0 20px #4dec2d;
}
.pluses .item-wraper .pluses-item p {
  grid-area: descript;
}
.mods-details {
  margin-top: 40px;
  background: var(--col2);
  border: 1px solid var(--col10);
  border-radius: 10px;
  width: var(--width);
  /* Allow height animations and clip overflowing content while animating */
  overflow: hidden;
  will-change: height;
}
.mods-details summary {
  font-weight: bold;
  border: 1px solid var(--col10);
  padding: 10px;
  border-radius: 10px;
}
.mods-details summary:hover {
  cursor: pointer;
}
#modlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: var(--width);
  align-items: stretch;
  justify-content: flex-start;
}
.mod-item {
  padding: 20px;
  background: var(--col2);
  border-bottom: 1px solid var(--col10);
}
.mod-item:nth-last-child {
  border: none;
}
.mod-item h3 {
  font-family: "Roboto", sans-serif;
}
.mod-item p {
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
}
footer {
  display: grid;
  grid-template-columns: 1.5fr repeat(2, 1fr);
  grid-template-rows: 4fr 1fr;
  min-height: 400px;
  width: 100%;
  background-color: #272727;
}
footer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 1 / span 2/4;
  max-width: 100%;
  text-align: center;
}
footer .info p {
  width: 60%;
  font-size: 0.8rem;
  line-height: normal;
  color: #080808;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 13px;
  }
  :root {
    --width: 90vw;
  }
  .logo {
    width: 90vw;
    max-width: 650px;
  }
  nav {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
  main {
    background: #191a19 url("./static/img/bgmain2.png") no-repeat center / cover;
  }
  .pluses .item-wraper {
    padding: 0 20px;
    flex-direction: column;
    box-sizing: border-box;
  }
  .pluses .item-wraper .pluses-item {
    width: 100%;
    box-sizing: border-box;
  }
}
@keyframes online-anim {
  0% {
    box-shadow: 0px 0px 0px rgba(77, 236, 45, 0);
  }
  50% {
    box-shadow: 0px 0px 8px rgba(77, 236, 45, 0.7);
  }
  100% {
    box-shadow: 0px 0px 15px rgba(77, 236, 45, 0);
  }
}
